@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --width-seekbar: 0;
    --indicator: 0;
    --i: 0;
    --f: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bs-black);
    color: white;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

/* Other */
audio::-webkit-media-controls-panel {
    box-shadow: 0 0 0 transparent;
    background-color: rgba(108, 108, 108, 1);
}

#orange {
    color: darkorange;
}

/* Loading Page */
.load {
    position: fixed;
}

#loading-page {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: loading 5s linear infinite;
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading-page span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    transform: rotate(calc(45deg * var(--f)));
}

#loading-page span::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 5.5px);
    background-color: var(--bs-danger);
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

/* Image */
img {
    width: 100%;
    height: 100%;
}

/* Scroll Text */

.texts {
    display: flex;
    width: auto;
}

.texts .scroll {
    height: 1.7em;
    line-height: 1.7em;
    position: relative;
    transition: all .7s;
    overflow: hidden;
    margin-left: 1rem;
    width: 10rem;
}

.texts .scroll #scroll-text {
    font-weight: bold;
    transform: translateX(0rem);
    width: 10rem;
}

.texts .scroll #scroll-text h3 {
    transition: all .7s;
    position: absolute;
    color: darkorange;
    white-space: nowrap;
    height: auto;
    /* filter: drop-shadow(0 0 10px darkorange) drop-shadow(0 0 11px darkorange); */
    /* box-shadow: 0 0 10px darkorange; */
}

h3.point {
    transform: translateX(0);
}

.texts .scroll #scroll-text h3:not(.point) {
    transform: translateX(-40rem);
}

/* Navbar */
.navbar {
    display: flex;
    background-color: transparent;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 5rem;
    width: 100%;
    align-items: center;
    position: relative;
}

.navbar .head {
    display: flex;
    height: 100%;
}

.navbar .head h3 {
    display: flex;
    font-weight: bold;
    height: 100%;
    align-items: center;
}

.navbar .body #more {
    display: block;
    width: 30px;
    position: relative;
}

.navbar .body #more::before {
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    background-color: var(--bs-light);
    position: absolute;
    top: -7px;
    box-shadow: 0 7px 0 var(--bs-light);
    transition: all .5s;
}

.navbar .body #more::after {
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    background-color: var(--bs-light);
    position: absolute;
    top: 7px;
    transition: all .5s;
}

.navbar.show .body #more::before {
    transform: rotate(45deg) translateY(-6px) translateX(-5px);
    transform-origin: 0;
    box-shadow: 0 0 0 transparent;
}

.navbar.show .body #more::after {
    transform: rotate(-45deg) translateX(1px);
    transform-origin: 0;
}

.navbar .content {
    display: block;
    position: fixed;
    width: 200px;
    height: 100vh;
    background: linear-gradient(rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0.5));
    top: 0;
    left: -250px;
    z-index: 10;
    box-shadow: 0 0 2px white;
    transition: left ease-in-out .3s;
}

.navbar.show .content {
    left: 0;
}

.navbar .content ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.navbar .content ul li {
    list-style: none;
    line-height: 3em;
}

.navbar .content ul .btn {
    width: 100px;
    margin-top: 1rem;
}

.navbar .content ul li i {
    margin-right: 1em;
}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60rem;
    background-position: center;
    background-image: url("../img/hengker.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.hero-section p {
    letter-spacing: 2px;
}

.hero-section .texts {
    margin-bottom: 2rem;
}

.hero-section .btn-body {
    display: flex;
    background: transparent;
    width: 70%;
    height: 3rem;
}

.hero-section .btn {
    border-radius: 4rem;
    width: 50%;
    height: 100%;
}

/* About Me */
.about-me {
    margin-top: 5rem;
}

.about-me h3 {
    font-size: 2.1rem;
}

.about-me h5 {
    line-height: 1rem;
    margin-top: 1.3rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.about-me h5.first {
    margin-top: 6rem;
}

.about-me .circle-big {
    display: flex;
    width: 370px;
    height: 370px;
    margin: auto;
    background-color: transparent;
    border: var(--bs-light) 1px solid;
    border-radius: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.about-me .circle-big::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: var(--bs-light) 1px solid;
    border-radius: 100%;
}

.about-me .circle-big .content {
    display: block;
    position: absolute;
    width: 4rem;
    left: 30px;
    transform: rotate(calc(360deg/6 * var(--i)));
    transform-origin: 160px;
}

.about-me .circle-big .content .content-c {
    transform: rotate(calc(-360deg/6 * var(--i)));
}

.about-me .circle-big .content .logo {
    width: 3rem;
    height: 3rem;
}

.about-me .circle-big .content h4 {
    display: block;
    font-size: 1rem;
    text-align: center;
    margin-top: .5rem;
    width: 100px;
    margin-left: -25px;
}

.about-me .circle-big .skill-logo .logo {
    width: 5rem;
    height: 5rem;
}

.about-me .first-img {
    margin-top: 10rem;
}

.about-me .info-text {
    margin-top: 6rem;
}

.about-me .info-text .top {
    letter-spacing: 8px;
    opacity: .7;
}

.about-me .info-text .name {
    /* background-color: var(--bs-info); */
    background: darkorange;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 5px;
    line-height: 5px;
}

.about-me .info-text .body {
    font-size: 1.3rem;
    margin-top: 2rem;
}

.about-me .info-text .end {
    margin-top: 1rem;
    opacity: .5;
}

.about-me .follow {
    display: flex;
    border-bottom: 1px solid var(--bs-info);
    width: 80%;
    margin-top: 4rem;
}

.about-me .follow p {
    margin-right: 1rem;
}

.about-me .follow i {
    letter-spacing: 2rem;
}

/* 404 Page not found */
.error {
    background: rgba(195, 195, 195, 1);
    color: var(--bs-dark);
    text-align: center;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.error-page .err {
    display: flex;
    justify-content: center;
    position: relative;
    width: 170px;
}

.error-page #img-sad {
    background: transparent;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 10;
}

.error-page h1 {
    display: flex;
    font-size: 80px;
    letter-spacing: 5rem;
    height: 100%;
    width: inherit;
    text-align: center;
    position: relative;
}

/* Music */
.playlist .music {
    /* background: rgba(26, 26, 26, 1); */
    background: linear-gradient(90deg, rgba(26, 26, 26, 1), rgba(26, 26, 26, 1), rgba(89, 89, 89, 0.1));
    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 4rem;
    box-shadow: 0 0 10px rgba(89, 89, 89, 1);
    position: relative;
    margin-bottom: 4rem;
}

.playlist .music p {
    font-size: 13px;
    opacity: .4;
    /* color: rgba(255, 121, 0, 1); */
    color: darkorange;
}

.playlist .music h3 {
    font-size: 20px;
    font-weight: bold;
    color: darkorange;
    filter: drop-shadow(0 0 10px darkorange) drop-shadow(0 0 11px darkorange);
}

.playlist .music h4 {
    line-height: 10px;
    font-size: 15px;
    opacity: .7;
    color: darkorange;
}
 
.playlist .music audio {
    margin-top: 20px;
}

.playlist .music img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: auto;
    z-index: -99;
}

.playlist .list {
    display: flex;
    margin-top: 1.5rem;
    background-color: rgba(26, 26, 26, 1);
    box-shadow: 0 0 10px rgba(89, 89, 89, 1);
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease .3s;
    border-bottom: solid rgba(172, 172, 172, 1) 2px;
}

.playlist .list:hover {
    transform: translateX(10px);
}

.playlist .list .img {
    margin-right: 20px;
}

.playlist .list .img img {
    border-radius: 10px;
    width: auto;
    height: 65px;
}

.playlist .list .info {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-top: 5px;
}

.playlist .list .info h3 {
    font-size: 20px;
    line-height: 15px !important;
}

.playlist .list .info h4 {
    font-size: 13px;
    opacity: .5;
}

/* Shop Card */
.shop .card {
    width: 100%;
    height: auto;
    background: rgba(26, 26, 26, 1);
    position: relative;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(89, 89, 89, 1);
    cursor: pointer;
}

.shop .card:first-child {
    margin-top: 4rem;
}

.shop .card .desc {
    position: absolute;
    bottom: -2rem;
    left: 0;
    transition: all ease-out .4s;
    opacity: 0;
    width: 100%;
    height: 70px;
    background: transparent;
    padding-left: 10px;
    padding-top: 5px;
}

.shop .card:hover .desc {
    bottom: 0;
    opacity: 1;
    background: linear-gradient(transparent, darkorange);
}

.shop .card .desc h3 {
    font-size: 23px;
}

.shop .card .desc p {
    opacity: .7;
}

/* Responsive */
@media only screen and (min-width: 760px) {
    .navbar .body #more {
        display: none;
    }

    .navbar .content {
        all: unset;
        display: block;
        height: 100%;
    }

    .navbar .content ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
        height: 100%;
    }

    .navbar .content ul li {
        display: flex;
        margin: 0 1rem;
    }

    .navbar .content ul .btn {
        margin-left: 2.5rem;
        margin-top: 0;
    }

    /* grid */
    .grid-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .about-me .grid-1 .circle-big {
        margin: auto;
    }

    .playlist {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 4rem;
    }
    
    .shop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 100%;
        height: 100%;
        margin-top: 4rem;
    }
    
    .shop .card:first-child {
        margin-top: 0;
    }
}