* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: black;
    height: 100%;
    width: 100vw;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

.top-sec .image {
    display: block;
    width: 100%;
    margin: auto;
}

.top-sec {
    display: block;
    background-image: linear-gradient(rgba(53, 53, 53, 1),
            rgba(20, 20, 20, 1),
            rgba(20, 20, 20, 1));
    padding-bottom: 5rem;
}

.top-sec .name,
.end-sec .name {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    background: rgba(237, 182, 0, 1);
    color: black;
}

.top-sec .name h4 {
    font-size: 2.5rem;
}

.top-sec .name h5 {
    font-size: 1.2rem;
}

.top-title {
    border-bottom: solid rgba(237, 182, 0, 1) 3px;
    margin-left: 2.5rem;
    line-height: calc(100% + 2rem);
}

.top-title-content {
    display: block;
    margin-left: 4.5rem;
    position: relative;
}

.top-title-content span {
    display: block;
    margin-top: 2rem;
}

.top-title-content span h3 {
    font-size: 1.2rem;
}

.top-title-content span h5 {
    font-size: 0.9rem;
    opacity: 0.7;
}

.end-sec {
    background: rgba(240, 240, 240, 1);
    color: rgba(29, 29, 29, 1);
    padding-top: 1px;
}

.end-title {
    border-bottom: solid rgba(67, 67, 67, 1) 3px;
    margin-left: 2.5rem;
    line-height: calc(100% + 2rem);
}

.end-title-content {
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.top-sec .top-title-content:last-child span::before {
    content: "";
    display: block;
    background: yellow;
    width: 3rem;
    height: 1.5rem;
    /*transform: translateX(-4rem);*/
    position: absolute;
    left: -4rem;
    z-index: 1;
}

.end-sec .end-title-content span ul {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-left: -2rem;
}

.end-sec .end-title-content span .line {
    display: block;
    width: 11rem;
    height: 0.7rem;
    background: rgba(194, 194, 194, 1);
}

.end-sec .end-title-content span .line .line-in {
    display: block;
    height: 0.7rem;
    background: black;
}

.end-sec .end-title-content .skills {
    margin: 2rem;
}

@media only screen and (max-width: 599px) {
    .end-sec .name {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        background-color: white;
        width: 95%;
        margin: auto;
    }

    .top-sec .name {
        display: none;
    }

    .end-sec .name {
        margin-top: 5.5rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-bottom: 5rem;
    }

    .top-sec,
    .end-sec {
        border: solid gray 1px;
        box-shadow: 2px 2px 1rem gray;
        margin-top: 8.5rem;
    }

    .end-sec .end-title-content:last-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .end-sec .end-title-content:last-child .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .end-sec .end-title-content:last-child .skills h5 {
        text-align: start;
        width: 80%;
    }
}